
NET "rst"		LOC="l13";
NET "clk"		LOC="t9";
NET "o"			LOC="d15";
NET "oclk"		LOC="e15";

//////////////////////////////////////////////////////////////////////
// Push buttons (p.19)
//////////////////////////////////////////////////////////////////////


