//! **************************************************************************
// Written by: Map H.38 on Wed Apr 06 17:06:33 2005
//! **************************************************************************

SCHEMATIC START;
COMP "o" LOCATE = SITE "D15" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "oclk" LOCATE = SITE "E15" LEVEL 1;
COMP "rst" LOCATE = SITE "L13" LEVEL 1;
SCHEMATIC END;
